In [47]:
import pandas as pd
import numpy as np
import os

df2 = pd.read_csv('C:/Users/deepak/Desktop/Python/BigMart_Sales/Test.csv')
df1 = pd.read_csv('C:/Users/deepak/Desktop/Python/BigMart_Sales/Train.csv')

In [48]:
df1.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [49]:
df1["Item_Visibility"].describe()

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

In [54]:
mean_Item_Visibility=0.066132

In [55]:
# Item_Visibility replace with mean
df1=df1.replace({'Item_Visibility': {0: mean_Item_Visibility}})

In [56]:
df1["Item_Visibility"].describe()

count    8523.000000
mean        0.070213
std         0.048742
min         0.003575
25%         0.033085
50%         0.062517
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

In [62]:
#no of years outlet is working conditon 
df1['Age']=2013-df1['Outlet_Establishment_Year']

In [63]:
df1["Age"].value_counts()

28    1463
26     932
14     930
9      930
16     930
11     929
4      928
6      926
15     555
Name: Age, dtype: int64

In [57]:
# Data cleaning andtransformation 

r,c=df1.shape
# Replace NaN from Item_Weight and outlet_Size
df1["Item_Weight"]=df1["Item_Weight"].fillna(df1["Item_Weight"].median())
df1["Outlet_Size"]=df1["Outlet_Size"].fillna(df1["Outlet_Size"].mode()[0])


# ===== Normalise Item_Fat_Content to lowercase and then to dummy variables
df1["Item_Fat_Content"]=df1["Item_Fat_Content"].str.lower()
df1["Item_Fat_Content"]=df1["Item_Fat_Content"].replace(["lf"],"low fat")
df1["Item_Fat_Content"]=df1["Item_Fat_Content"].replace(["reg"],"regular")
df1["Item_Fat_Content_Num"]=df1["Item_Fat_Content"].map({'low fat':0,'regular':1})


#===== add dummy variable Outlet_Size
df1["Outlet_Size_Num"]=df1["Outlet_Size"].map({'Small':1,'Medium':2,'High':3})


# ===== Add dummy variable Outlet_Location_Type_Numeric column
df1['Outlet_Location_Type_Num'] = df1['Outlet_Location_Type'].map({'Tier 1' : 1, 'Tier 2' : 2, 'Tier 3' : 3})


# ===== Add dummy variable Outlet_Type_Numeric column
df1['Outlet_Type_Num'] = df1['Outlet_Type'].map({'Supermarket Type1' : 1, 'Supermarket Type2' : 2, 'Supermarket Type3' : 3, 'Grocery Store' : 4})


# ===== Add dummy variable Item_Type_Numeric column
item_type_list = list(df1['Item_Type'].unique())
df1['Item_Type_Num'] = [0]*r
for i in range(r):
    itemtype = str(df1['Item_Type'].loc[i])
    df1['Item_Type_Num'].set_value(i, item_type_list.index(itemtype))

# ===== Add dummy variable Outlet_Identifier column
df1["Outlet_Identifier_Num"]=df1["Outlet_Identifier"].str.extract('(\d+)').astype(int)

# ===== Add dummy variable Item_Identifier column using labelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1['Item_Identifier_Num'] = le.fit_transform(df1['Item_Identifier'])

C:\Users\deepak\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [58]:
df1.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
Item_Fat_Content_Num           int64
Outlet_Size_Num                int64
Outlet_Location_Type_Num       int64
Outlet_Type_Num                int64
Item_Type_Num                  int64
Outlet_Identifier_Num          int32
Item_Identifier_Num            int64
dtype: object

In [59]:
df1.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Item_Fat_Content_Num',
       'Outlet_Size_Num', 'Outlet_Location_Type_Num', 'Outlet_Type_Num',
       'Item_Type_Num', 'Outlet_Identifier_Num', 'Item_Identifier_Num'],
      dtype='object')

In [61]:
df1.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Item_Fat_Content_Num         0
Outlet_Size_Num              0
Outlet_Location_Type_Num     0
Outlet_Type_Num              0
Item_Type_Num                0
Outlet_Identifier_Num        0
Item_Identifier_Num          0
dtype: int64

In [64]:
cols = [ 'Item_Weight', 'Item_Visibility','Item_MRP',
       'Age', 'Item_Fat_Content_Num',
       'Outlet_Size_Num', 'Outlet_Location_Type_Num', 'Outlet_Type_Num',
       'Item_Type_Num', 'Outlet_Identifier_Num', 'Item_Identifier_Num']

In [67]:
df1[cols].head(5)

,Item_Weight,Item_Visibility,Item_MRP,Age,Item_Fat_Content_Num,Outlet_Size_Num,Outlet_Location_Type_Num,Outlet_Type_Num,Item_Type_Num,Outlet_Identifier_Num,Item_Identifier_Num
0,9.30,0.016047,249.8092,14,0,2,1,1,0,49,156
1,5.92,0.019278,48.2692,4,1,2,3,2,1,18,8
2,17.50,0.016760,141.6180,14,0,2,1,1,2,49,662
3,19.20,0.066132,182.0950,15,1,2,3,4,3,10,1121
4,8.93,0.066132,53.8614,26,0,3,3,1,4,13,1297

In [68]:
X=df1[cols]
y=df1["Item_Outlet_Sales"]

In [69]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=20)

In [70]:
print("Shape of X_train: ",X_train.shape)
print("Shape of y_train: ",y_train.shape)
print("Shape of X_test: ",X_test.shape)
print("Shape of y_test: ",y_test.shape)

Shape of X_train:  (5966, 11)
Shape of y_train:  (5966,)
Shape of X_test:  (2557, 11)
Shape of y_test:  (2557,)

In [72]:
from sklearn.tree import DecisionTreeRegressor
Dtree = DecisionTreeRegressor(max_depth=3)
Dtree.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=3, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [79]:
from sklearn import metrics
y_predicted = Dtree.predict(X_test)

In [77]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_predicted))

In [78]:
rms

1164.1849534257465

In [80]:
from sklearn.ensemble import RandomForestRegressor
RForrest = RandomForestRegressor()
RForrest.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [82]:
predicted_rf=RForrest.predict(X_test)

In [85]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, predicted_rf))
rms

1174.509716859829

In [ ]:
# Linear Regression

In [92]:
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True,normalize=True)
reg.fit (X_train,y_train)
print(reg.intercept_)
reg.coef_

-1981.7862411551778

array([-3.77900450e+00, -1.30203010e+03,  1.56265488e+01,  4.10622283e+01,
        5.82526882e+01, -3.21341197e+02,  8.60759441e+02, -4.46929131e+02,
        4.53265433e-01,  3.36679950e+01,  1.93839664e-02])

In [93]:
y_predicted = reg.predict(X_test)

In [94]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_predicted))
rms

1242.5758327237202

In [ ]:
https://github.com/IamAmar/Big-Mart-Sales-III/blob/master/Big-Mart-Sales-III.ipynb
https://github.com/akash-vartak/BigMartSales3/blob/master/Full_Code_BigMartSales3.ipynb
tps://github.com/Gurudev333/BigMart-Sales-Prediction/blob/master/Big_Mart_Random_forest.ipynb
    
https://www.analyticsvidhya.com/blog/2016/04/complete-tutorial-tree-based-modeling-scratch-in-python/